@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color:#bc63e6;
    --secondary-color:#d8b286;
    --text-primary: #1b1b1b;
    --text-secondary: #6b7280;
    --background-light: #f8f9ff;
    --border-color: #e5e7eb;
    --base-font-size: 15px;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Inter', sans-serif;
    background-color:  #b18fbb;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2ren;
}
.nav-logo{
    max-width: 100px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color:var(--secondary-color);
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition:  all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}


.login-btn{
    color: var(--background-light);
    text-decoration: none;
    font-weight: 500;
    padding: 1.5rem;
}

.login-btn:hover{
    opacity: 0.8;
}

.try-btn{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.try-btn:hover{
    background-color:var(--secondary-color);
};


.container{
    max-width: 1200px;
    margin:auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--secondary-color);
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #20152eaf;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px ;
}

header .content p{
    margin-bottom: 2rem;
    color: #201331af;
}

header .image{
    position: relative;
}

header .image::before{
    content: "M";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height:  20rem;
    color: var();
    opacity: 0.2;
    z-index: -100 ;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-top: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.features .card{
    background-color: #f8ca74af;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius:  15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: var(sec);
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #be73d1;
    padding: 2px 9px;
    margin-bottom:  1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #614d60;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #593f63;
    margin-bottom:  1rem;
}

.features .card a{
    color: #2b1b57;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #fff;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #351f1f;
}
.pricing{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-bottom: 4%;
}
.pricing .card{
    padding: 3rem 2rem;
    background-color: #f8ca74af;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transform: all 0.3s ease;

}

.pricing .card:hover{
    background-color: var(--primary-color);
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;

}
.pricing .card h4{
    margin-bottom: rem;
    color: #32135caf;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom:  1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff ;
}

.pricing .card p{
    color: #4b336baf;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #fff 2rem ;
    margin-right: 0.3 rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;

}

.pricing .card button:hover{
    color: var(pr);
    background-color: var(--secondary-color);
    border-color: #fff ;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    margin-left: 2rem;
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    margin-left: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

footer .column .socials{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #fff;
    border: 1px solid #ccc;
    padding:  5px 10px;
    font-size:  1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #ad74f8af ;
    border-color: #fff;
}

footer .column h4{
    color: #493466af;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #fff;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #231930af;
}

.copyright{
    max-width:  1200px;
    margin: auto;
    padding: 1rem;
    color: #1d1527af;
    font-size: 0.8rem;
    text-align: center;
}

@media (width<900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing{
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media(width<600px){
    header .image::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1,1fr);
    }
    .pricing{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}

@view-transition{
    navigation: auto;
}

::view-transition-group(root){
    animation-duration: 0.8s;
}